/* SCSS HEX */
$primary: #212121ff;
$primary-light: #484848ff;
$primary-dark: #000000ff;
$secondary: #e50914ff;
$secondary-light: #ff5740ff;
$secondary-dark: #aa0000ff;
$textColor: #efebe9ff;
// $textColorVariant: #00b0ffff;