* {
    box-sizing: border-box;
}



body {
    background: lightslategray !important;    
}

header{
    background: darkblue;
    padding: 10px;
    
}

.search_input{
    outline: none;
    background-color: lightslategray;
    border: 2px solid lightslategray;
    border-radius: 15px;    
    color: white;    
    margin-left: -15px !important;
}
.search_input::placeholder, :focus{
    color: white;
}

.movie {
    margin: 15px 0;
}

.card {
    overflow: hidden;
}

.card-img-top {
    height: 400px;        
}

.card-body {
    background: #00008b;
    height: 80px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.card-text {
    color: white;
}
.card-text:last-child{
    color: gold;
}

.card-footer {
    background: lightslategray !important;
    color: lightslategray;
    position: absolute;
    bottom: 0;
    height: 300px;
    overflow: auto;
    transform: translateY(100%);    
    transition: all 0.5s ease-in-out;
    
}

.card:hover .card-footer{
    transform: translateY(0);    
    background: white !important;
}

footer{
    padding-top: 20px;
    background: darkblue;
    color: white;
}

footer a, a:hover{
    text-decoration: none !important;
    color: white !important;

}



@media only screen and (max-width: 740px) {
    .search_input{
        margin-left: 0px !important;
    }
}

